.block--us-courts-browsealoud-browsealoud-widget {
  display:none;
}

@media (min-width: 960px) {

.block--us-courts-browsealoud-browsealoud-widget {
  display:inline;
}

  .block--us-courts-browsealoud-browsealoud-widget {
    float: right;
    font-size: 1.2rem;
    line-height: 1em;
    margin-top: -140px;
    margin-right: 270px;
    padding-top: .3rem;
  }

  .block--us-courts-browsealoud-browsealoud-widget a {
      color: #fff !important;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      background-color: #417491;
      cursor: pointer;
      display: block;
      padding: .3rem;
      position: relative;
      margin-left: 1rem;
      margin-right: 1rem;
      text-indent: -9999px;
      height: 2.3rem;
      width: 2.3rem;
  }

  .block--us-courts-browsealoud-browsealoud-widget a::after {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #fff;
    content: '\f2a2';
    display: block;
    font-family: FontAwesome;
    font-size: 1.2rem;
    left: .2rem;
    padding-top: .2rem;
    position: absolute;
    text-align: center;
    text-indent: 0;
    top: .25rem;
    height: 1.8rem;
    width: 1.9rem;
  }

  .block--us-courts-browsealoud-browsealoud-widget .block__content a:visited {
    color: #fff;
  }

  .block--us-courts-browsealoud-browsealoud-widget .block__content a:focus {
    color: #fff;
  }

  .block--us-courts-browsealoud-browsealoud-widget .block__content a:hover {
    color: #fff;
  }

  .block--us-courts-browsealoud-browsealoud-widget .block__content a:active {
    color: #fff;
  }

  .block--us-courts-browsealoud-browsealoud-widget .block__content a:hover {
    background-color: #5B8EAB; /* 10 % lighten*/
  }

}


/* mobile menu */

.browsealoud i {
  color: #fff !important;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #417491;
  cursor: pointer;
  /*display: block; */
  padding: .3rem;
  position: relative;
  margin-left: 0rem;
  margin-right: 0.5rem;
  /*text-indent: -9999px;*/
  height: 2.0rem;
  width: 2.0rem;
  left: 0rem;
  vertical-align: middle;
}

.browsealoud i::before{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #fff;
  content: '\f2a2';
  font-family: FontAwesome;
  font-size: 1.5rem;
  display: block;
  left: .2rem;
  padding-top: .2rem;
  position: absolute;
  text-align: center;
  text-indent: 0;
  top: .25rem;
  height: 2.1rem;
  width: 2.1rem;
}

/* menu item background color based on court type - 30% lighten*/
.mean-container .mean-nav ul li.browsealoud {
  background-color: #8EC1DE;
  border-bottom-width: 0;
}
